<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOltdLCJkaXNwbGF5TmFtZSI6IlN3aWZ0U3R1ZGVu
		dENoYWxsZW5nZTIwMjUiLCJwYWNrYWdlS2luZCI6eyJyb290Ijp7fX0sInBs
		YXRmb3JtcyI6W3sib3B0aW9ucyI6W10sInBsYXRmb3JtTmFtZSI6ImlvcyIs
		InZlcnNpb24iOiIxNy41In1dLCJwcm9kdWN0cyI6W3sibmFtZSI6IlN3aWZ0
		U3R1ZGVudENoYWxsZW5nZTIwMjUiLCJzZXR0aW5ncyI6W3siYnVuZGxlSWRl
		bnRpZmllciI6WyJjb20uTGVvIl19LHsidGVhbUlkZW50aWZpZXIiOlsiNUdZ
		WEYyRlA5WSJdfSx7ImRpc3BsYXlWZXJzaW9uIjpbIjEuMCJdfSx7ImJ1bmRs
		ZVZlcnNpb24iOlsiMSJdfSx7ImlPU0FwcEluZm8iOlt7ImFjY2VudENvbG9y
		Ijp7InByZXNldENvbG9yIjp7InByZXNldENvbG9yIjp7InJhd1ZhbHVlIjoi
		cHVycGxlIn19fSwiYXBwSWNvbiI6eyJwbGFjZWhvbGRlciI6eyJpY29uIjp7
		InJhd1ZhbHVlIjoiZ2lmdCJ9fX0sImNhcGFiaWxpdGllcyI6W3sicHVycG9z
		ZSI6ImNhbWVyYSIsInB1cnBvc2VTdHJpbmciOiJJZGVudGlmeSBIYW5kIEFj
		dGlvbnMuIn1dLCJzdXBwb3J0ZWREZXZpY2VGYW1pbGllcyI6WyJwYWQiLCJw
		aG9uZSJdLCJzdXBwb3J0ZWRJbnRlcmZhY2VPcmllbnRhdGlvbnMiOlt7Imxh
		bmRzY2FwZVJpZ2h0Ijp7fX1dfV19XSwidGFyZ2V0cyI6WyJBcHBNb2R1bGUi
		XSwidHlwZSI6eyJleGVjdXRhYmxlIjpudWxsfX1dLCJ0YXJnZXRNYXAiOnsi
		QXBwTW9kdWxlIjp7ImRlcGVuZGVuY2llcyI6W10sImV4Y2x1ZGUiOltdLCJu
		YW1lIjoiQXBwTW9kdWxlIiwicGFja2FnZUFjY2VzcyI6dHJ1ZSwicGF0aCI6
		Ii4iLCJyZXNvdXJjZXMiOlt7InBhdGgiOiJSZXNvdXJjZXNcL1ByaW1laXJv
		VGVzdGVSb3RhY2FvTWFvVW5pY2EgOS5tbG1vZGVsYyIsInJ1bGUiOnsiY29w
		eSI6e319fSx7InBhdGgiOiJSZXNvdXJjZXNcL1N3aWZ0U3R1ZGVudENoYWxs
		ZW5nZTIwMjVfSGFuZEFjdGlvbkNsYXNzaWZpZXIgMy5tbG1vZGVsYyIsInJ1
		bGUiOnsiY29weSI6e319fSx7InBhdGgiOiJSZXNvdXJjZXNcL1N3aWZ0U3R1
		ZGVudENoYWxsZW5nZTIwMjVfSGFuZEFjdGlvbkNsYXNzaWZpZXIgMyBjb3B5
		Lm1sbW9kZWxjIiwicnVsZSI6eyJjb3B5Ijp7fX19LHsicGF0aCI6IlJlc291
		cmNlc1wvU3dpZnRTdHVkZW50Q2hhbGxlbmdlMjAyNV9IYW5kQWN0aW9uQ2xh
		c3NpZmllciA0Lm1sbW9kZWxjIiwicnVsZSI6eyJjb3B5Ijp7fX19LHsicGF0
		aCI6IlJlc291cmNlc1wvU3dpZnRTdHVkZW50Q2hhbGxlbmdlMjAyNV9IYW5k
		QWN0aW9uQ2xhc3NpZmllciA1Lm1sbW9kZWxjIiwicnVsZSI6eyJjb3B5Ijp7
		fX19LHsicGF0aCI6IlJlc291cmNlc1wvQXNzZXRzLnhjYXNzZXRzIiwicnVs
		ZSI6eyJwcm9jZXNzIjp7fX19XSwic2V0dGluZ3MiOltdLCJ0eXBlIjoiZXhl
		Y3V0YWJsZSJ9fSwidGFyZ2V0cyI6W3siZGVwZW5kZW5jaWVzIjpbXSwiZXhj
		bHVkZSI6W10sIm5hbWUiOiJBcHBNb2R1bGUiLCJwYWNrYWdlQWNjZXNzIjp0
		cnVlLCJwYXRoIjoiLiIsInJlc291cmNlcyI6W3sicGF0aCI6IlJlc291cmNl
		c1wvUHJpbWVpcm9UZXN0ZVJvdGFjYW9NYW9VbmljYSA5Lm1sbW9kZWxjIiwi
		cnVsZSI6eyJjb3B5Ijp7fX19LHsicGF0aCI6IlJlc291cmNlc1wvU3dpZnRT
		dHVkZW50Q2hhbGxlbmdlMjAyNV9IYW5kQWN0aW9uQ2xhc3NpZmllciAzLm1s
		bW9kZWxjIiwicnVsZSI6eyJjb3B5Ijp7fX19LHsicGF0aCI6IlJlc291cmNl
		c1wvU3dpZnRTdHVkZW50Q2hhbGxlbmdlMjAyNV9IYW5kQWN0aW9uQ2xhc3Np
		ZmllciAzIGNvcHkubWxtb2RlbGMiLCJydWxlIjp7ImNvcHkiOnt9fX0seyJw
		YXRoIjoiUmVzb3VyY2VzXC9Td2lmdFN0dWRlbnRDaGFsbGVuZ2UyMDI1X0hh
		bmRBY3Rpb25DbGFzc2lmaWVyIDQubWxtb2RlbGMiLCJydWxlIjp7ImNvcHki
		Ont9fX0seyJwYXRoIjoiUmVzb3VyY2VzXC9Td2lmdFN0dWRlbnRDaGFsbGVu
		Z2UyMDI1X0hhbmRBY3Rpb25DbGFzc2lmaWVyIDUubWxtb2RlbGMiLCJydWxl
		Ijp7ImNvcHkiOnt9fX0seyJwYXRoIjoiUmVzb3VyY2VzXC9Bc3NldHMueGNh
		c3NldHMiLCJydWxlIjp7InByb2Nlc3MiOnt9fX1dLCJzZXR0aW5ncyI6W10s
		InR5cGUiOiJleGVjdXRhYmxlIn1dLCJ0b29sc1ZlcnNpb24iOnsiX3ZlcnNp
		b24iOiI1LjkuMCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		JJO6TVPHA0hnc9J+eL7vCcjoW6Y32bZaQtD3yHODr4Y=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.10.0-dev</string>
	</dict>
</dict>
</plist>
